@use "../mixins";

section#meet-the-creators {
    &>.container {
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--section-spacing-y) / 2);
        padding-bottom: calc(var(--section-spacing-y) / 2);

        >p.text-large {
            text-align: center;
            text-wrap: balance;
        }
    }

    .scrolly-text {
        h2 {
            font-size: clamp(1.5rem, 17vw, 450px);
            white-space: nowrap;
        }
    }

    .creator-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

        &+.button {
            margin: calc(var(--section-spacing-y) / 2) auto 0 auto;
        }

        &[data-dsap-seen] {
            @for $i from 1 through 8 {
                .creator-card:nth-child(#{$i}) {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: calc(0.075s * #{$i});
                }
            }
        }

        .creator-card {
            background-color: white;
            border-radius: 8px;
            display: flex;
            flex-basis: 326px;
            flex-grow: 1;
            opacity: 0.001;
            padding: 10px;
            transform: translateY(40px);
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            width: 100%;

            &.hidden {
                opacity: 0.001;
                transform: translateY(40px);
            }

            @include mixins.bp(1090px) {
                flex-grow: 0;
            }

            img {
                aspect-ratio: 1 / 1;
                background-color: #f9f9f9;
                border-radius: 8px;
                height: 100px;

                @include mixins.bp(desktop) {
                    border-radius: 4px;
                    height: 150px;
                }
            }

            .creator-card-content {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 8px 10px;
            }

            .creator-card-title {
                font-weight: 700;
                line-height: normal;
            }

            .creator-card-links {
                align-items: flex-end;
                display: flex;
                flex-grow: 1;

                .svg {
                    width: 24px;

                    path {
                        transition: fill 0.25s ease-out;
                    }

                    &.svg-icon_youtube {
                        &:hover {
                            path {
                                fill: #FF0000;
                            }
                        }
                    }
                }
            }
        }
    }
}