<div class="header">
  <div class="container">
    <div class="logo top">
      <img
        src="/img/home-assistant-logo.svg"
        class="logo logo-dark"
        alt="Home Assistant logo"
      />
      <img
        src="/img/home-assistant-logo-white.svg"
        class="logo logo-light"
        alt="Home Assistant logo"
      />
    </div>
    <div class="nav">
      <a href="#what-is" class="nav-item">What's the Creator Network?</a>
      <a href="#what-it-takes" class="nav-item">What does it take?</a>
      <a href="#meet-the-creators" class="nav-item">Our Creators</a>
      <a href="#faq" class="nav-item">FAQ</a>
    </div>
    <div class="cta">
      <a href="#apply" class="button animated">Apply now</a>
    </div>
    <div class="burger"><span></span></div>
  </div>
  <div class="mobile-menu">
    <div class="nav">
      <a href="#what-is" class="nav-item">What's the Creator Network?</a>
      <a href="#what-it-takes" class="nav-item">What does it take?</a>
      <a href="#meet-the-creators" class="nav-item">Our Creators</a>
      <a href="#faq" class="nav-item">FAQ</a>
    </div>
    <div class="cta">
      <a href="#apply" class="button animated">Apply now</a>
    </div>
  </div>
  <script>
    // if right click logo, navigate to https://design.home-assistant.io/#brand/logo
    document
      .querySelector(".logo")
      .addEventListener("contextmenu", function (e) {
        e.preventDefault();
        window.location.href = "https://design.home-assistant.io/#brand/logo";
      });
  </script>
</div>
