<section id="not-found">
  <div class="not-found-inner">
    <div class="container">
      <div class="not-found-content">
        <div class="code-wrapper">
          <span class="code">404</span>
          {% svg "shape_one" %}
        </div>
        <h1>This page took a wrong turn</h1>
        <p class="text-large">
          The page you're looking for doesn't exist or may have moved. Let's get
          you back on track.
        </p>
        <div class="buttons">
          <a href="/" class="button animated large">Back to home</a>
          <a href="/#faq" class="text-link">Read the FAQ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wave">
    {% svg "wave_one" %}
  </div>
</section>
