@use 'mixins';

.footer {
    padding: 2rem;

    p {
        max-width: 50rem;
        font-size: 16px;
        text-align: center;
        text-wrap: balance;
        margin: 0 auto;

        a {
            text-decoration: underline;
        }
    }
}