@use "mixins";

.container {
    margin: 0 auto;
    max-width: var(--layout-container-max-width);
    width: 100%;
    padding: 0 var(--layout-container-padding);

    &.large {
        max-width: var(--layout-container-large-max-width);
    }

    .inner {
        margin: 0 auto;
        max-width: 1130px;
        width: 100%;
    }
}

.cols {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: var(--layout-columns-gap);

    .col {}
}

.sepia {
    background: #002332;
    display: flex;
    isolation: isolate;

    img {
        background: linear-gradient(0deg, #000 0%, #000 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
        background-blend-mode: saturation, normal;
        mix-blend-mode: exclusion;
        filter: grayscale(100%);
        z-index: -1;
    }
}